* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;

    align-items: center;
    background-image: url(./credit-cards/bg.jpg);
    background-size: cover;
    background-position: center;
}

.container input {
    font-size: 1.9rem;
    width: 25rem;
    margin: auto;

}
.container button {
    width: 11rem;
    align-self: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    position: relative;
    left: 2rem;

    margin-top: 4rem;
    padding: 4rem 8rem;
}




#visa {
    position: relative;
    left: 0.5rem;
}

#mastercard {
    height: 6.5rem;
}

label {
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
    margin: auto;
    color: rgb(190, 154, 54);
}

#valueInput {
  font-size: 1.5rem;
  font-family: 'Ubuntu', sans-serif;
}

.images img {
height: 6rem;
width: 7rem;
}




/* CSS */
/* only animate if the device supports hover */
@media (hover: hover) {
    #creditcard {
      /*  set start position */
      transform: translateY(18.3rem);
      transition: transform 0.1s ease-in-out;
      /*  set transition for mouse enter & exit */
    }
  
    #money {
      /*  set start position */
      transform: translateY(11.25rem);
      transition: transform 0.1s ease-in-out;
      /*  set transition for mouse enter & exit */
    }
  
    button:hover #creditcard {
      transform: translateY(0px);
      transition: transform 0.2s ease-in-out;
      /*  overide transition for mouse enter */
    }
  
    button:hover #money {
      transform: translateY(0px);
      transition: transform 0.3s ease-in-out;
      /*  overide transition for mouse enter */
    }
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-0.25rem);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .button:hover .button__text span {
    transform: translateY(-0.25rem);
    transition: transform .2s ease-in-out;
  }
  
  /* styling */
  
  @import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
  
  body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    border: none;
    outline: none;
    background-color: purple;
    padding: 1rem 5.6rem 1rem 2rem;
    position: relative;
    border-radius: 0.5rem;
    letter-spacing: 0.7px;
    background-color: #a9c2be;
    color: #fff;
    font-size: 1.4rem;
    font-family: "Lato", sans-serif;
    cursor: pointer;
    box-shadow: rgba(0, 9, 61, 0.2) 0px 0.25rem 0.5rem 0px;
  }
  
  .button:active {
    transform: translateY(1px);
  }
  
  .button__svg {
    position: absolute;
    overflow: visible;
    bottom: 0.3rem;
    right: 0.2rem;
    height: 140%;
  }

@media screen and (max-width: 850px) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width: 650px) {
    html {
        font-size: 10px;
    }
}

@media screen and (max-width: 500px) {
    html {
        font-size: 8px;
    }
}