@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: rgb(250, 245, 245);
}

html {
    font-size: 17px;
}

h1 {
    transform: translateY(4rem);
}

.flexbox-column {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.flexbox {
    display: flex;
    gap: 2rem;
}
.container-grandmother {
    justify-content: center;
    transform: translateY(5rem);
}

.container-aunt {
    background-color: rgba(151, 151, 158, 0.226);
    padding: 2rem;
    height: 22rem;
    border-radius: 0.7rem;
}

.container-cousin img {
    width: 5.5rem;
    border-radius: 0.7rem;
}

.counter {
    border: 2px solid rgb(158, 149, 149);
    justify-content: center;
    gap: 1rem;
    width: 6rem;
    padding: 0.4rem;
}

.counter i{
    background-color: rgba(156, 145, 145, 0.267);
    color: black;
    border-radius: 0.1rem;
}

.container-uncle {
    text-align: left;
}

.container-uncle input {
    height: 2rem;
}

#info-label {
    margin-top: 0.4rem;
}

.shoes-count p, .backpack-count p{

    text-align: left;
    margin-bottom: 1.2rem;
}

.container-cousin-two {
    transform: translateY(4.4rem);
}
.container-cousin-two #spanOne, .container-cousin-two #spanTwo{
    margin-left: 12rem;
}
.container-cousin-two p{
    border-top: 1px solid rgba(160, 159, 159, 0.692);
}
#submit{
background-color: transparent;
padding: 0.3rem;
color: rgb(16, 78, 133);
font-weight: 900;
display: block;
transform: translateY(11rem);
border: 2px dashed rgba(0, 0, 0, 0.247);
width: 8rem;
margin: auto;
text-decoration: none;
}

@media screen and (max-width:981px){
    .container-grandmother {
        display: flex;
        flex-direction: column;
    }

    body{
        width: 70vw;
        margin: auto;
    }

    html {
        font-size: 15px;
    }

    .container-cousin-two {
        transform: translateY(3rem);
    }

}

@media screen and (max-width:981px){
    html {
        font-size: 11px;
    }
}